//@include("scout-module.css")
//@include("application-module.css")

@font-face {
  font-family: awesomeIcons;
  font-weight: normal;
  src: url('fontawesome-webfont.woff') format('woff'),
 	   url('fontawesome-webfont.ttf')  format('truetype');
}

.font-awesomeIcons {
  font-family: awesomeIcons, @font-default-family;
}

.usericon-html {
  border-radius:  12px;
  height: 24px;
  margin-top: -6px;
  margin-bottom: -6px;
}

.options-form-bottom-placeholder {
  height: 6px;
}